<% provide(:title, "Current Students") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('students_b.jpg') %>
		</div>
		<h1> </h1>
		<h3 class="hub_para">For Graduate Students</h3>
	</div>

	

	<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'NGSA', '/students_pages/ngsa', :class => 'ngsa_link' %></li>
			<li><%= link_to 'Resources', '/students_pages/nsresources', :class => 'nsres_link' %></li>
		</ul>
	</div>
	<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Outreach', '/students_pages/outreach', :class => 'out_link' %></li>
		</ul>
	</div>

	<div id="hub_text" class="col-sm-12">
		<h1> </h1>
		<h3 class="hub_para">For Undergraduate Students</h3>
	</div>

	<p style="clear:both"></p>

	<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'NUSA', 'https://nolecentral.dsa.fsu.edu/organization/NUSA', :class => 'nusa_link' %></li>
		</ul>
	</div>
	<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Tri-Beta', 'http://tri-beta.neuro.fsu.edu/', :class => 'trib_link' %></li>
		</ul>
	</div>
</div>






