<% provide(:title, "Resources") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('resources_b.jpg') %>
		</div>
		<h1> </h1>
	</div>

	<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Webmail', 'https://webmail.neuro.fsu.edu', :class => 'mail_link' %></li>
			<li><%= link_to 'NeuroNet', '#', :class => 'net_link' %></li>
			<li><%= link_to 'Photo Gallery', 'https://www.flickr.com/photos/130941966@N03/albums', :class => 'photo_link' %></li>
			<li><%= link_to 'Post Doc Association', '#', :class => 'pdoc_link' %></li>
		</ul>
	</div>
	<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Publications', '#', :class => 'arts_link' %></li>
			<li><%= link_to 'Core Facilities', '/resource_pages/cores', :class => 'cores_link' %></li>
			<li><%= link_to 'Getting Started @ FSU', '/resource_pages/links', :class => 'links_link' %></li>
		</ul>
	</div>
</div>

