<% provide(:title, "Admission") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>How to apply to the Program in Neuroscience</h1>

		<h4><%= link_to "View the FSU Graduate School requirements.", 'http://admissions.fsu.edu/graduate/admissions/requirements.cfm' %></h4>

		<p>Applications are considered only once per year, and students are accepted for enrollment only for the subsequent fall semester.</p>
		<p><strong>Application Deadline: December 1, 2015</strong></p>
		<p>
			<ul>
				<li><%= link_to "Complete the university admissions application.", 'https://admissions.fsu.edu/gradapp/' %> </li>
				<li>Send the following to the <%= link_to "Office of Graduate Admissions", 'http://admissions.fsu.edu/graduate/admissions/apply.cfm' %>:
					<ul>
						<li>Original test scores sent directly from the testing institution</li>
						<li>Original transcripts sent from all institutions attended</li>
						<li>$30.00 application fee</li>
					</ul>

				</li>All supporting documentation for application to the Program in Neuroscience should be uploaded during the online application process, including Research Interests, Test Scores, Transcripts, Statement of Goals and Purpose, Resume, <%= link_to "GPA Calculation Worksheet", '/gpacompworksheet.pdf' %> and contacts for recommendation letters.</li>
			</ul>
		</p>
		<p>Applicants should make every effort to upload the required documents into the online application. If you are unable to upload a document you may send it to the program office at the address below, provided it will make the application deadline. It may be necessary to fax, email or overnight documents in order to make our deadline. Incomplete files will not be reviewed, and late submissions will not be considered unless there are openings within the program.</p>
		<p>Please check our <%= link_to 'Frequently Asked Questions', '/prospect_pages/faq' %> for more information, and if there are additional questions not discussed there, contact:</p>
		<ul>
			<li>Janice Parker</li>
			<li>Program Administrator</li>
			<li>Program in Neuroscience</li>
			<li>Florida State University</li>
			<li>1107 W Call St. Room C241</li>
			<li>Tallahassee, FL 32306-4301</li>
			<li>(850) 644-3076</li>
		</ul>
	</div>

	
</div>
