<% provide(:title, "Prospective Students") %>



	<div class="row">
		<div id="hub_text" class="col-sm-12">
			<div class="hub_header_image">
				<%= image_tag ('prop_b.jpg') %>
			</div>
			<h1> </h1>
			<p class="hub_para">The Program in Neuroscience is an interdisciplinary research and graduate training program offering a Ph.D in Neuroscience.  Graduate students take courses in neuroscience and work closely with their major professors to develop research projects leading to their dissertations.</p>
			<p class="hub_para">Detailed information about how students progress through our program can be found in the <%= link_to 'Graduate Student Handbook (pdf)', '/gradhandbook.pdf' %>.</p>
		</div>

		<div id="hub_left" class="col-sm-6 clearfix">
			<ul>
				<li><%= link_to 'General Requirements', '/prospect_pages/about', :class => 'genreq_link' %></li>
				<li><%= link_to 'How to Apply', '/prospect_pages/admission', :class => 'apply_link' %></li>
				<li><%= link_to 'Financial Support', '/prospect_pages/finaid', :class => 'finaid_link' %></li>
			</ul>
		</div>
		<div id="hub_right" class="col-sm-6 clearfix">
			<ul>
				<li><%= link_to 'Program Curriculum', '/prospect_pages/curriculum', :class => 'curr_link' %></li>
				<li><%= link_to 'F.A.Q.', '/prospect_pages/faq', :class => 'faq_link' %></li>
				<li><%= link_to 'Training Grants', '/prospect_pages/faq', :class => 'genreq_link' %></li>
			</ul>
		</div>
	</div>