<% provide(:title, "Affilates") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<h1 class="hub_para">Affliated Departments and Programs</h1>
	</div>

	<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Biological Science', 'http://www.bio.fsu.edu/', :class => 'aff_bio_link' %></li>
			<li><%= link_to 'Biomedical Sciences', 'http://www.med.fsu.edu/?page=biomedicalSciences.home', :class => 'aff_med_link' %></li>
			<li><%= link_to 'Mathematics', 'http://www.math.fsu.edu/', :class => 'aff_math_link' %></li>
		</ul>
	</div>
	<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Psychology', 'http://www.psy.fsu.edu/', :class => 'aff_psych_link' %></li>
			<li><%= link_to 'Molecular Bio', 'http://www.sb.fsu.edu/', :class => 'aff_molbi_link' %></li>
			<li><%= link_to 'MagLab', 'http://www.magnet.fsu.edu/', :class => 'aff_mag_link' %></li>
			
		</ul>
	</div>
</div>
