<!DOCTYPE html>
<html>
<head>
  <title>FSU Program of Neuroscience</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
	<div class="page-header">
		
	</div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="main-menu">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Prospective Students', '/prospect_pages/prospecthub' %></li>
				<li><%= link_to 'Current Students', '/students_pages/studenthub' %></li>
				<li><%= link_to 'People', people_path %></li>
				<li><%= link_to 'About', '/about_pages/abouthub' %></li>
				<li><%= link_to 'Resources' %></li>
				<li><%= link_to 'Events', '/event_pages/eventhub' %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				
			</ul>
		</div>
	</nav>

	<% flash.each do |severity, message| %>
		<div class="alert alert-<%= severity %>">
			<%= message %>
		</div>
	<% end %>

	<div class="content-wrapper"><%= yield %></div>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>

